<%= form_for(@wiky) do |f| %>
  <% if @wiky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiky.errors.count, "error") %> prohibited this wiky from being saved:</h2>

      <ul>
      <% @wiky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? || (current_user.premium? && @wiky.user_id == current_user.id) %>
    <div class = "form-group">
      <%= f.label :public, class: "checkbox" do  %>
      <%= f.check_box :public %> Public Wiky
      <% end %>
    </div>
    <% end %> <%= current_user.role %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
