<div class="container">
<p id="notice"><%= notice %></p>

<h1>Public Wikies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikies.each do |wiky| %>
      <tr>
        <td><%= markdown wiky.title %></td>
        <td><%= markdown wiky.body %></td>
        <td><%= link_to 'Show', wiky %></td>
        <td><%= link_to 'Edit', edit_wiky_path(wiky) %></td>
        <td><%= link_to 'Destroy', wiky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiky', new_wiky_path %>
<% if (current_user.premium? || current_user.admin?) %>
<h1>Private Wikies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private.each do |wiky| %>
      <tr>
        <td><%= wiky.title %></td>
        <td><%= wiky.body %></td>
        <td><%= wiky.user.email %></td>
        <td><%= link_to 'Show', wiky %></td>
        <td><%= link_to 'Edit', edit_wiky_path(wiky) %></td>
        <td><%= link_to 'Destroy', wiky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Wiky', new_wiky_path %><br>   
<% end %>

<% if (current_user.standard?) %>
<h1>Private Wikies you have been granted rights to collaborate</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% @wikies_allowed_to_collaborate_on.each do |wiky| %>
      <tr>
        <td><%= wiky.title %></td>
        <td><%= wiky.body %></td>
        <td><%= wiky.user.email %></td>
        <td><%= link_to 'Show', wiky %></td>
        <td><%= link_to 'Edit', edit_wiky_path(wiky) %></td>
        <td><%= link_to 'Destroy', wiky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Wiky', new_wiky_path %><br>   
<% end %>
</div>