<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= markdown @wiky.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown @wiky.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @wiky.user %>
</p>

<%= link_to 'Edit', edit_wiky_path(@wiky) %> |
<%= link_to 'Back', wikies_path %>
