<% if current_user.admin? || (current_user.premium? && @wiky.user_id == current_user.id) %>
  <%= form_for [@wiky, @wiky.collaborations.build ] do |f| %>
    
    <div class="field">
      <%= label_tag :email, "Collaborator Email" %><br>
      <%= email_field_tag :email%>
    </div>

    <div class="actions">
      <%= f.submit "Add Collaborator" %>
    </div>

  <% end %>

  <p>This is the owner:
  <%=  @wiky.user.email %></p>

  <strong>Delete Collaborators</strong><br>
  <table class= "table table-striped">
    <% @collaborations.reload.each do |collaboration| %>
      <tr>
        <td><%= collaboration.user.email %></td> 
        <td><%= link_to('Destroy', wiky_collaboration_path(@wiky, collaboration), 
        :method => 'delete', controller: :collaborations)  %></td>
      </tr>
    <% end %> 
  </table>
<% end %>


